<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>         
      <rewrite>
           <rules>
                <rule name="DynamicContent">
                     <conditions>
                          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
                     </conditions>
                     <action type="Rewrite" url="index.html" />
                </rule>
           </rules>
      </rewrite>
        <staticContent>
            <mimeMap fileExtension=".vue" mimeType="text/html" />
            <mimeMap fileExtension=".jso" mimeType="text/plain" />
            <mimeMap fileExtension=".es" mimeType="text/plain" />
        </staticContent>
   </system.webServer>
 </configuration>